{% extends "base.html" %}

{% block body %}
    <form action="/new_entry" method='POST'>
        <label>Entry Title:
            <input type="text" name='heading' value="{{heading_input}}"/>
        </label>
        <p class="error">{{heading_error}}</p>

        <br>
        <br>

        <label>Entry Content:
            <textarea type="text" name='content' value="{{content_input}}"></textarea>
        </label>
        <p class="error">{{content_error}}</p>

        <br>
        <br>

        <input type="submit" value="Add Entry to Blog"/>
    </form>

{% endblock %}